

body{
    background-color: rgb(0, 52, 66);
}

p{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header{
    position: fixed;
    width: 100%;
    margin-top: 13%;
} */

h1{
    align-items: center;
    text-align: center;
    margin-top: -3em;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  rgb(255, 219, 127);
    text-transform: capitalize;
    margin-bottom: -1px;
}

h2{
    margin-top: 2%;
    margin-left: 160px;
    margin-right: 160px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(0, 39, 49);
    color:  rgb(255, 219, 127);
    font-family: Arial, Helvetica, sans-serif;
}

.centre{
    margin-top: 50%;
    margin-left: 15%;
    display: block;
    position: relative;
}

.gauche, .centre, .droite {
    display: block;
    flex-direction: column; /* Organisation verticale des éléments */
    gap: 20px; /* Espacement uniforme entre les éléments dans chaque colonne */
}

img {
    aspect-ratio: 1.2/1;
    width: 100%; /* Images s'ajustent à leur conteneur */
    height: auto;
    border-radius: 5px; /* Coins arrondis pour un effet subtil */
}

a{
    color: rgb(255, 219, 127);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center
}

h2:hover {
    background-color: rgb(2, 61, 75);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Ombre légère pour un effet 3D */

}

.main{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;

}

.biographie{
    width: 32%;
    font-size: 15px;
    position: fixed;
    text-align: start;
    max-width: 400px;
}

h3{
    margin-top: 8%;
    font-size: 20px;
    margin-left: 20px;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#archives, #memo, #casa, #machine{
    font-size: 15px;
    margin-bottom: 4em;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
    max-width: 480px;
}
